[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/hugotex"]
	path = themes/hugotex
	url = https://github.com/kaisugi/HugoTeX.git
